doctype html
html
	head
		script(type="text/javascript", src="js/jquery-2.2.2.min.js")
		link(rel="stylesheet", href="/css/bootstrap-4.0.0-beta-dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/bootstrap-4.0.0-beta-dist/css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="/css/bootstrap-4.0.0-beta-dist/css/mystyle.css")
		script(type="text/javascript", src="/css/bootstrap-4.0.0-beta-distt/js/bootstrap.min.js")
		script(type="text/javascript", src="js/myscript.js")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(charset="utf-8")
	body
		block content