doctype html
html
	head
		script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.js")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(charset="utf-8")
	body
		block content