extends layout

block content
	.row
		.col-md-8.col-md-offset-1
			.page-header
				h1 회원추가하기
	.row
		.col-md-8.col-md-offset-2
			form(action='/process-post' method='POST')
				.form-group
					label(for='id') ID
					input.form-control(type='text', id='id', name='id', placeholder='ID입력')
				.form-group
					label(for='pw') 비밀번호
					input.form-control(type='password', id='pw', name='pw', placeholder='비밀번호 입력')
				.form-group
					label(for='name') 이름
					input.form-control(type='text', id='name', name='name', placeholder='이름 입력')
				.form-group
					label(for='email') 이메일
					input.form-control(type='email', id='email', name='email', placeholder='이메일 입력')
				button.btn.btn-default(type='submit') 입력하기