extends layout

block content
	.row
		.col-md-8.col-md-offset-1
			.page-header
				h1 회원추가하기
	.row
		.col-md-8.col-md-offset-2
			form(action='/process-post' method='POST')
				.form-group
					label(for='uid') ID
					input.form-control(type='text', id='uid', name='uid', placeholder='ID입력')
				.form-group
					label(for='upw') 비밀번호
					input.form-control(type='password', id='upw', name='upw', placeholder='비밀번호 입력')
				.form-group
					label(for='uname') 이름
					input.form-control(type='text', id='uname', name='uname', placeholder='이름 입력')
				.form-group
					label(for='uemail') 이메일
					input.form-control(type='email', id='uemail', name='uemail', placeholder='이메일 입력')
				button.btn.btn-default(type='submit') 입력하기